:root {
  --color-blue-64: #4B4F58;
  --color-blue-63: rgb(75, 79, 88);
  --color-red-36: #F03031;
  --color-red-35: rgb(240, 48, 49);
  --color-grayscale-138: #000000;
  --color-grayscale-14: #FFFFFF;
  --color-grayscale-97: #3A3A3A;
  --color-grayscale-96: rgb(58, 58, 58);
  --color-red-76: #0B0707;
  --color-red-75: rgb(11, 7, 7);
  --color-blue-16: #CCD6DF;
  --color-blue-15: rgb(204, 214, 223);
  --color-grayscale-71: #949494;
  --color-grayscale-70: rgb(148, 148, 148);
  --color-grayscale-109: #1E1E1E;
  --color-grayscale-53: #DDDDDD;
  --color-grayscale-52: rgb(221, 221, 221);
  --color-blue-58: #3858E9;
  --color-blue-57: rgb(56, 88, 233);
  --color-grayscale-102: #333333;
  --color-grayscale-134: #00000033;
  --color-grayscale-51: #E0E0E0;
  --color-grayscale-50: rgb(224, 224, 224);
  --color-grayscale-132: #0000004D;
  --color-grayscale-30: #F2F2F2;
  --color-blue-14: #D4D7DD;
  --color-blue-56: #0274BE;
  --color-blue-13: rgb(212, 215, 221);
  --color-blue-55: rgb(2, 116, 190);
  --color-grayscale-40: #EEEEEE;
  --color-grayscale-79: #757575;
  --color-blue-40: #69727D;
  --color-grayscale-78: rgb(117, 117, 117);
  --color-blue-39: rgb(105, 114, 125);
  --color-grayscale-77: #777777;
  --color-grayscale-76: rgb(119, 119, 119);
  --color-grayscale-12: #FFFFFF00;
  --color-grayscale-111: #111111;
  --color-grayscale-110: rgb(17, 17, 17);
  --color-grayscale-104: #2F2F2F;
  --color-grayscale-120: #00000026;
  --color-grayscale-103: rgb(47, 47, 47);
  --color-red-40: #C0392B;
  --color-red-39: rgb(192, 57, 43);
  --color-blue-34: #808285;
  --color-grayscale-11: #FFFFFF33;
  --color-red-52: #D91919;
  --color-grayscale-127: #00000005;
  --color-blue-33: rgb(128, 130, 133);
  --color-red-51: rgb(217, 25, 25);
  --color-yellow-12: #FFE500;
  --color-grayscale-137: #00000014;
  --color-grayscale-59: #CCCCCC;
  --color-grayscale-133: #0000001A;
  --color-yellow-11: rgb(255, 229, 0);
  --color-grayscale-58: rgb(204, 204, 204);
  --color-red-24: #E04F4F;
  --color-grayscale-95: #424242;
  --color-green-22: #77A464;
  --color-red-58: #CC1818;
  --color-grayscale-129: #00000040;
  --color-grayscale-128: #00000008;
  --color-red-30: #F04040;
  --color-blue-74: #43454B;
  --color-red-23: rgb(224, 79, 79);
  --color-grayscale-94: rgb(66, 66, 66);
  --color-green-21: rgb(119, 164, 100);
  --color-red-29: rgb(240, 64, 64);
  --color-blue-73: rgb(67, 69, 75);
  --color-red-4: #FCD4D500;
  --color-grayscale-84: #666666;
  --color-grayscale-44: #EAEAEA;
  --color-pink-6: #E4E1E3;
  --color-grayscale-130: #0000000D;
  --color-blue-80: #183AD6;
  --color-grayscale-108: #1E1E1E9E;
  --color-blue-12: #E4E6EB;
  --color-grayscale-73: #8F8F8F;
  --color-grayscale-118: #00000080;
  --color-grayscale-6: #FFFFFF26;
  --color-grayscale-101: #33333340;
  --color-red-3: rgb(252, 212, 213);
  --color-grayscale-100: rgb(51, 51, 51);
  --color-grayscale-43: rgb(234, 234, 234);
  --color-pink-5: rgb(228, 225, 227);
  --color-grayscale-107: rgb(30, 30, 30);
  --color-blue-79: rgb(24, 58, 214);
  --color-blue-11: rgb(228, 230, 235);
  --color-grayscale-72: rgb(143, 143, 143);
  --color-grayscale-25: #F5F5F5;
  --color-grayscale-136: #00000066;
  --color-blue-52: #21759B;
  --color-red-62: #FF0000;
  --color-grayscale-89: #515151;
  --color-grayscale-16: #FBFBFB;
  --color-grayscale-18: #FAFAFA;
  --color-grayscale-34: #F0F0F0;
  --color-grayscale-123: #0000000A;
  --color-teal-14: #00A4A6;
  --color-grayscale-117: #000000CC;
  --color-red-22: #D9534F;
  --color-blue-54: #0077B5;
  --color-blue-51: rgb(33, 117, 155);
  --color-red-61: rgb(255, 0, 0);
  --color-grayscale-88: rgb(81, 81, 81);
  --color-grayscale-15: rgb(251, 251, 251);
  --color-grayscale-17: rgb(250, 250, 250);
  --color-grayscale-33: rgb(240, 240, 240);
  --color-teal-13: rgb(0, 164, 166);
  --color-red-21: rgb(217, 83, 79);
  --color-blue-53: rgb(0, 119, 181);
  --color-grayscale-135: #00000099;
  --color-grayscale-106: #222222;
  --color-pink-26: #A46497;
  --color-grayscale-48: #E6E6E600;
  --color-grayscale-131: #000000BF;
  --color-red-20: #D65D67;
  --color-green-20: #4AB866;
  --color-grayscale-22: #F7F7F7;
  --color-grayscale-93: #444444;
  --color-grayscale-63: #AAAAAA;
  --color-grayscale-7: #FFFFFFE6;
  --color-green-18: #5CB85C;
  --color-orange-24: #F0AD4E;
  --color-red-28: #DD4B39;
  --color-grayscale-47: rgb(230, 230, 230);
  --color-grayscale-105: rgb(34, 34, 34);
  --color-pink-25: rgb(164, 100, 151);
  --color-red-19: rgb(214, 93, 103);
  --color-green-19: rgb(74, 184, 102);
  --color-grayscale-21: rgb(247, 247, 247);
  --color-grayscale-92: rgb(68, 68, 68);
  --color-grayscale-62: rgb(170, 170, 170);
  --color-green-17: rgb(92, 184, 92);
  --color-orange-23: rgb(240, 173, 78);
  --color-red-27: rgb(221, 75, 57);
  --color-blue-8: #F2F2F4;
  --color-grayscale-55: #DBDBDB;
  --color-yellow-6: #FFFF00;
  --color-grayscale-32: #F1F1F1;
  --color-grayscale-69: #999999;
  --color-grayscale-20: #F9F9F9;
  --color-red-54: #DD1414;
  --color-red-44: #D92929;
  --color-blue-20: #ABB8C3;
  --color-red-18: #F78DA7;
  --color-red-42: #CF2E2E;
  --color-orange-30: #FF6900;
  --color-orange-22: #FCB900;
  --color-green-12: #7BDCB5;
  --color-green-16: #00D084;
  --color-blue-18: #8ED1FC;
  --color-blue-36: #0693E3;
  --color-purple-4: #9B51E0;
  --color-pink-16: #D3CED2;
  --color-pink-10: #DFDCDE;
  --color-grayscale-42: #EDEDED;
  --color-grayscale-126: #00000003;
  --color-grayscale-125: #00000059;
  --color-grayscale-122: #000000D9;
  --color-grayscale-65: #A8A8A8;
  --color-grayscale-8: #FFFFFF12;
  --color-blue-32: #2196F3;
  --color-yellow-2: #FFFF99;
  --color-teal-4: #5BC0DE;
  --color-blue-60: #3B5999;
  --color-blue-26: #55ACEE;
  --color-red-32: #E4405F;
  --color-red-50: #CD201F;
  --color-blue-30: #00AFF0;
  --color-teal-6: #1AB7EA;
  --color-blue-42: #4C75A3;
  --color-blue-76: #34465D;
  --color-orange-34: #FF5700;
  --color-red-64: #BD081C;
  --color-teal-8: #00B489;
  --color-green-24: #3AAF85;
  --color-red-46: #B92B27;
  --color-blue-96: #131418;
  --color-teal-16: #006567;
  --color-pink-36: #FF0084;
  --color-pink-28: #EA4C89;
  --color-green-14: #84BD00;
  --color-orange-32: #FF6600;
  --color-blue-46: #007EE5;
  --color-red-34: #FF3300;
  --color-yellow-8: #FFFC00;
  --color-orange-28: #F57D00;
  --color-pink-30: #F94877;
  --color-purple-8: #4A367C;
  --color-blue-28: #54A9EB;
  --color-grayscale-113: #000000B3;
  --color-pink-34: #CD2653;
  --color-grayscale-4: #FFFFFFBF;
  --color-red-70: #420A0E33;
  --color-grayscale-112: rgb(0, 0, 0);
  --color-blue-7: rgb(242, 242, 244);
  --color-grayscale-54: rgb(219, 219, 219);
  --color-yellow-5: rgb(255, 255, 0);
  --color-grayscale-31: rgb(241, 241, 241);
  --color-grayscale-68: rgb(153, 153, 153);
  --color-grayscale-19: rgb(249, 249, 249);
  --color-red-53: rgb(221, 20, 20);
  --color-red-43: rgb(217, 41, 41);
  --color-blue-19: rgb(171, 184, 195);
  --color-red-17: rgb(247, 141, 167);
  --color-red-41: rgb(207, 46, 46);
  --color-orange-29: rgb(255, 105, 0);
  --color-orange-21: rgb(252, 185, 0);
  --color-green-11: rgb(123, 220, 181);
  --color-green-15: rgb(0, 208, 132);
  --color-blue-17: rgb(142, 209, 252);
  --color-blue-35: rgb(6, 147, 227);
  --color-purple-3: rgb(155, 81, 224);
  --color-pink-15: rgb(211, 206, 210);
  --color-pink-9: rgb(223, 220, 222);
  --color-grayscale-41: rgb(237, 237, 237);
  --color-grayscale-64: rgb(168, 168, 168);
  --color-blue-31: rgb(33, 150, 243);
  --color-yellow-1: rgb(255, 255, 153);
  --color-teal-3: rgb(91, 192, 222);
  --color-blue-59: rgb(59, 89, 153);
  --color-blue-25: rgb(85, 172, 238);
  --color-red-31: rgb(228, 64, 95);
  --color-red-49: rgb(205, 32, 31);
  --color-blue-29: rgb(0, 175, 240);
  --color-teal-5: rgb(26, 183, 234);
  --color-blue-41: rgb(76, 117, 163);
  --color-blue-75: rgb(52, 70, 93);
  --color-orange-33: rgb(255, 87, 0);
  --color-red-63: rgb(189, 8, 28);
  --color-teal-7: rgb(0, 180, 137);
  --color-green-23: rgb(58, 175, 133);
  --color-red-45: rgb(185, 43, 39);
  --color-blue-95: rgb(19, 20, 24);
  --color-teal-15: rgb(0, 101, 103);
  --color-pink-35: rgb(255, 0, 132);
  --color-pink-27: rgb(234, 76, 137);
  --color-green-13: rgb(132, 189, 0);
  --color-orange-31: rgb(255, 102, 0);
  --color-blue-45: rgb(0, 126, 229);
  --color-red-33: rgb(255, 51, 0);
  --color-yellow-7: rgb(255, 252, 0);
  --color-orange-27: rgb(245, 125, 0);
  --color-pink-29: rgb(249, 72, 119);
  --color-purple-7: rgb(74, 54, 124);
  --color-blue-27: rgb(84, 169, 235);
  --color-pink-33: rgb(205, 38, 83);
  --color-red-69: rgb(66, 10, 14);
  --color-grayscale-13: #FFFFFF80;
  --color-purple-10: #1A1230;
  --color-purple-12: #110C1D;
  --color-grayscale-49: #E6E6E6;
  --color-blue-48: #4169E1;
  --color-blue-94: #191970;
  --color-grayscale-57: #D9D9D9;
  --color-yellow-16: #FFDD005E;
  --color-yellow-14: #FFE01A5E;
  --color-blue-72: #40464D;
  --color-red-38: #A4414100;
  --color-red-48: #E11D20;
  --color-blue-84: #32373C;
  --color-grayscale-81: #6B6B6B;
  --color-grayscale-75: #84848480;
  --color-pink-24: #8A7E88;
  --color-pink-4: #EBE9EB;
  --color-pink-40: #602053;
  --color-grayscale-10: #FFFFFFE0;
  --color-pink-2: #F7F6F7;
  --color-yellow-20: #8FAE1B;
  --color-blue-38: #1E85BE;
  --color-red-60: #B81C23;
  --color-pink-20: #BBB3B9;
  --color-grayscale-36: #EFEFEF;
  --color-grayscale-24: #F5F5F5BF;
  --color-green-8: #C1E1B9;
  --color-red-14: #F1ADAD;
  --color-orange-12: #FBC5A9;
  --color-orange-6: #FFE399;
  --color-pink-14: #DAD8DA;
  --color-grayscale-9: #FFFFFF66;
  --color-red-68: #710D0D;
  --color-red-57: #CC18180A;
  --color-red-56: #CC181814;
  --color-blue-68: #2145E6;
  --color-grayscale-124: #00000012;
  --color-green-4: #EFF9F1;
  --color-orange-4: #FEF8EE;
  --color-red-16: #F4A2A2;
  --color-red-10: #FFBBBB;
  --color-teal-2: #A6FFF8;
  --color-purple-2: #D3C1F7;
  --color-pink-8: #FBD9ED;
  --color-blue-10: #DDEAF8;
  --color-blue-4: #F4F8FC;
  --color-green-6: #9FFFB8;
  --color-yellow-4: #FFEEA9;
  --color-blue-6: #F3F6F8;
  --color-orange-26: #DE8604;
  --color-grayscale-121: #00000061;
  --color-red-66: #BB0000;
  --color-teal-10: #00ACCE;
  --color-grayscale-46: #E7E7E7;
  --color-grayscale-61: #BBBBBB;
  --color-grayscale-39: #EEEEEEE6;
  --color-grayscale-83: #66666661;
  --color-grayscale-87: #6464640D;
  --color-grayscale-38: #EEEEEED9;
  --color-grayscale-119: #00000036;
  --color-grayscale-116: #0000003D;
  --color-grayscale-91: #5050508C;
  --color-pink-38: #B400AA;
  --color-green-26: #006400;
  --color-grayscale-115: #00000050;
  --color-grayscale-114: #0000009C;
  --color-grayscale-27: #F3F3F352;
  --color-blue-98: #0000FF;
  --color-grayscale-86: #64646433;
  --color-blue-44: #0085BA;
  --color-blue-92: #1F2124;
  --color-blue-70: #5636D1;
  --color-pink-32: #E2498A;
  --color-grayscale-5: #FFFFFFE8;
  --color-blue-88: #2B2D2F;
  --color-red-2: #FFF0F0;
  --color-orange-2: #FFFBF4;
  --color-orange-18: #F0B849;
  --color-green-2: #F4FFF7;
  --color-blue-2: #F4F8FF;
  --color-blue-50: #007CBA;
  --color-blue-62: #3B5998;
  --color-teal-12: #00A0D1;
  --color-orange-16: #FFC321;
  --color-pink-12: #E0DADF;
  --color-grayscale-3: #FFFFFF4D;
  --color-purple-6: #5E35B1;
  --color-red-26: #E74C3C;
  --color-blue-66: #005B9A;
  --color-yellow-18: #E6C13D;
  --color-orange-8: #EFCDAD;
  --color-orange-36: #804E0F;
  --color-pink-44: #3B003B;
  --color-blue-78: #0044CC;
  --color-blue-22: #A6B1FF;
  --color-pink-42: #342134;
  --color-orange-20: #D0BA8E;
  --color-red-74: #360309;
  --color-pink-46: #1D0210;
  --color-grayscale-2: #FFFFFFCC;
  --color-red-6: #FFC8C899;
  --color-pink-22: #F36ABC4D;
  --color-green-10: #A8DFC166;
  --color-pink-18: #C4B7C8;
  --color-yellow-10: #E6E7E0;
  --color-blue-86: #2B2AA199;
  --color-blue-82: #00469666;
  --color-red-12: #F7B0998F;
  --color-grayscale-29: #F2F2F2CC;
  --color-blue-90: #22253F;
  --color-grayscale-67: #A0A0A0;
  --color-grayscale-99: #383838;
  --color-blue-24: #7FBBE333;
  --color-orange-14: #E8C598CC;
  --color-orange-10: #ECCDA926;
  --color-orange-40: #321E0766;
  --color-yellow-22: #7D691880;
  --color-orange-38: #45290C66;
  --color-red-8: #D8CDCB;
  --color-red-72: #64000033;
  --color-grayscale-1: rgb(255, 255, 255);
  --color-grayscale-28: rgb(242, 242, 242);
  --color-grayscale-23: rgb(245, 245, 245);
  --color-purple-9: rgb(26, 18, 48);
  --color-purple-11: rgb(17, 12, 29);
  --color-grayscale-82: rgb(102, 102, 102);
  --color-blue-47: rgb(65, 105, 225);
  --color-blue-93: rgb(25, 25, 112);
  --color-grayscale-56: rgb(217, 217, 217);
  --color-yellow-15: rgb(255, 221, 0);
  --color-yellow-13: rgb(255, 224, 26);
  --color-grayscale-37: rgb(238, 238, 238);
  --color-blue-71: rgb(64, 70, 77);
  --color-red-37: rgb(164, 65, 65);
  --color-red-47: rgb(225, 29, 32);
  --color-blue-83: rgb(50, 55, 60);
  --color-grayscale-80: rgb(107, 107, 107);
  --color-grayscale-74: rgb(132, 132, 132);
  --color-pink-23: rgb(138, 126, 136);
  --color-pink-3: rgb(235, 233, 235);
  --color-pink-39: rgb(96, 32, 83);
  --color-pink-1: rgb(247, 246, 247);
  --color-yellow-19: rgb(143, 174, 27);
  --color-blue-37: rgb(30, 133, 190);
  --color-red-59: rgb(184, 28, 35);
  --color-pink-19: rgb(187, 179, 185);
  --color-grayscale-35: rgb(239, 239, 239);
  --color-green-7: rgb(193, 225, 185);
  --color-red-13: rgb(241, 173, 173);
  --color-orange-11: rgb(251, 197, 169);
  --color-orange-5: rgb(255, 227, 153);
  --color-pink-13: rgb(218, 216, 218);
  --color-red-55: rgb(204, 24, 24);
  --color-red-67: rgb(113, 13, 13);
  --color-blue-67: rgb(33, 69, 230);
  --color-green-3: rgb(239, 249, 241);
  --color-orange-3: rgb(254, 248, 238);
  --color-red-15: rgb(244, 162, 162);
  --color-red-9: rgb(255, 187, 187);
  --color-teal-1: rgb(166, 255, 248);
  --color-purple-1: rgb(211, 193, 247);
  --color-pink-7: rgb(251, 217, 237);
  --color-blue-9: rgb(221, 234, 248);
  --color-blue-3: rgb(244, 248, 252);
  --color-green-5: rgb(159, 255, 184);
  --color-yellow-3: rgb(255, 238, 169);
  --color-blue-5: rgb(243, 246, 248);
  --color-orange-25: rgb(222, 134, 4);
  --color-red-65: rgb(187, 0, 0);
  --color-teal-9: rgb(0, 172, 206);
  --color-grayscale-45: rgb(231, 231, 231);
  --color-grayscale-60: rgb(187, 187, 187);
  --color-grayscale-85: rgb(100, 100, 100);
  --color-grayscale-90: rgb(80, 80, 80);
  --color-pink-37: rgb(180, 0, 170);
  --color-green-25: rgb(0, 100, 0);
  --color-grayscale-26: rgb(243, 243, 243);
  --color-blue-97: rgb(0, 0, 255);
  --color-blue-43: rgb(0, 133, 186);
  --color-blue-91: rgb(31, 33, 36);
  --color-blue-69: rgb(86, 54, 209);
  --color-pink-31: rgb(226, 73, 138);
  --color-blue-87: rgb(43, 45, 47);
  --color-red-1: rgb(255, 240, 240);
  --color-orange-1: rgb(255, 251, 244);
  --color-orange-17: rgb(240, 184, 73);
  --color-green-1: rgb(244, 255, 247);
  --color-blue-1: rgb(244, 248, 255);
  --color-blue-49: rgb(0, 124, 186);
  --color-blue-61: rgb(59, 89, 152);
  --color-teal-11: rgb(0, 160, 209);
  --color-orange-15: rgb(255, 195, 33);
  --color-pink-11: rgb(224, 218, 223);
  --color-purple-5: rgb(94, 53, 177);
  --color-red-25: rgb(231, 76, 60);
  --color-blue-65: rgb(0, 91, 154);
  --color-yellow-17: rgb(230, 193, 61);
  --color-orange-7: rgb(239, 205, 173);
  --color-orange-35: rgb(128, 78, 15);
  --color-pink-43: rgb(59, 0, 59);
  --color-blue-77: rgb(0, 68, 204);
  --color-blue-21: rgb(166, 177, 255);
  --color-pink-41: rgb(52, 33, 52);
  --color-orange-19: rgb(208, 186, 142);
  --color-red-73: rgb(54, 3, 9);
  --color-pink-45: rgb(29, 2, 16);
  --color-red-5: rgb(255, 200, 200);
  --color-pink-21: rgb(243, 106, 188);
  --color-green-9: rgb(168, 223, 193);
  --color-pink-17: rgb(196, 183, 200);
  --color-yellow-9: rgb(230, 231, 224);
  --color-blue-85: rgb(43, 42, 161);
  --color-blue-81: rgb(0, 70, 150);
  --color-red-11: rgb(247, 176, 153);
  --color-blue-89: rgb(34, 37, 63);
  --color-grayscale-66: rgb(160, 160, 160);
  --color-grayscale-98: rgb(56, 56, 56);
  --color-blue-23: rgb(127, 187, 227);
  --color-orange-13: rgb(232, 197, 152);
  --color-orange-9: rgb(236, 205, 169);
  --color-orange-39: rgb(50, 30, 7);
  --color-yellow-21: rgb(125, 105, 24);
  --color-orange-37: rgb(69, 41, 12);
  --color-red-7: rgb(216, 205, 203);
  --color-red-71: rgb(100, 0, 0);
}
